<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="menuDepth">

  <!-- Profundidad 2, estas en el viaje -->
  <div *ngSwitchCase="2">
    <h1 class="waitingTittle">Viajando...</h1>
    <img class="carGif" src="assets/img/autoViaje.gif" alt="viajando">
    <ion-button id="finishButton" color="success" (click)="eliminarViaje()">Terminar el viaje</ion-button>
  </div>

  <!-- Profundidad 1, creaste un viaje, pero esperas pasajeros -->
  <div *ngSwitchCase="1">
    <h1 class="waitingTittle">Esperando pasajeros</h1>

    <div class="waitingDiv">
        <img src="assets/icon/person_icon.png" alt="Pasajeros">
        <p>{{viajes[idViaje].pasajeros}}/{{viajes[idViaje].maxPasajeros}}</p>
  </div>
    <!-- <ion-item *ngFor="let viaje of viajes">
      <h3>{{viaje.pasajeros}}/{{viaje.maxPasajeros}}</h3>
    </ion-item> -->

    <div class="waitingButtons">
      <ion-button color="danger" (click)="eliminarViaje()">Cancelar el viaje</ion-button>
      <ion-button color="success" (click)="empezarViaje()">Empezar el viaje</ion-button>
    </div>
  </div>

   <!-- Default, menu 0, crear un viaje -->
   <div *ngSwitchDefault>
    <form class="form_vehiculo-form">
      <!-- <p> -->
        <mat-form-field class="mat_field first_margin" appearance="fill">
          <mat-label>Cantidad maxima de pasajeros (1-6)</mat-label>
          <input matInput type="number" min="1" max="6" placeholder="4" name="pasajero" [(ngModel)]="form.pasajero">
        </mat-form-field>

        <mat-form-field class="mat_field" appearance="fill" floatLabel="always">
          <mat-label>Tarifa por persona</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0" min="1" name="tarifa" [(ngModel)]="form.tarifa">
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>

        <div>
          <ion-item class="destino" (click)="addDirection()">
              <ion-label>Destino: {{form.destino}}</ion-label>

              <ion-buttons slot="end">
                <ion-button>
                    <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
                </ion-button>
              </ion-buttons>
          </ion-item>
      </div>

        
        <mat-form-field class="mat_field" appearance="fill">
          <mat-label>Patente del vehiculo</mat-label>
          <input matInput placeholder="XX-XX-10" name="patente" [(ngModel)]="form.patente">
        </mat-form-field>

        <mat-form-field class="mat_field " appearance="fill">
          <mat-label>Informacion adicional</mat-label>
          <textarea class="mat_area" matInput #info_extra  maxlength="120" name="informacion" [(ngModel)]="form.informacion"></textarea>
          <mat-hint>(Opcional)</mat-hint>
          <mat-hint align="end">{{info_extra.value.length}} / 120</mat-hint>
        </mat-form-field>
      <!-- </p> -->
    </form>
    

    <ion-button color="secondary" id="trip_button" (click)="formSubmit()">Preparar el viaje</ion-button>
   </div>

</ion-content>