/*Seccion de buscar viajes*/

.Tittle_vehicle{
    text-align: center;
}

.card_padding{
    padding: 0;
}

.img_col{
    max-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.img_col img{
    margin-top: 50%;
}

.ruta_col{
    max-width: 40%;
    padding-right: 0;
}

.ruta_col h3{ 
    font-size: 19px;
    font-weight: bold;
}

.pas_col{
    max-width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pas_col h3{ 
    font-size: 15px;
}

.tar_col{
    max-width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tar_col h3{ 
    font-size: 28px;
}

/*Seccion de reservar viajes / cancelar reserva*/

.Tittle_vehicle2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.informationDiv{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.section_separation {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-bottom: 10%;
    line-height: normal;
}

.section_separation h3{
    font-weight: bold;
    margin-bottom: 0;
}

.divPasajeros{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    
}

.divPasajeros p {
    margin-top: 33%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
.divPasajeros img{
    float: left;
    width: 25%;
    height: auto;
}

.lookButtons{
    position: absolute;
    bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.button{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

#cancelButton{
    position: absolute;
    bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}