<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="Tittle_vehicle">Vehiculos disponibles</h1>

    <ion-card><ion-card-content class="card_padding">
      <ion-row>
        <ion-col class="img_col">
          <img src="assets/icon/map_mark_icon.png" alt="Marcador">
        </ion-col>

        <ion-col class="ruta_col">
          <h3>Viña del mar</h3> 
            <p>Bellavista</p>
        </ion-col>

        <ion-col class="img_col">
          <img src="assets/icon/person_icon.png" alt="Pasajeros">
        </ion-col>

        <ion-col class="pas_col">
          <h3>2/4</h3>
        </ion-col>

        <ion-col class="tar_col">
          <h3>$500</h3>
        </ion-col>
      </ion-row>
    </ion-card-content></ion-card>



</ion-content>
