#trip_button{
    bottom: 0;
    margin-bottom: 5%;
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.first_margin{
    margin-top: 10%;
}
.mat_field{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.mat_area{
    min-height: 5%;
    max-height: 105px;
}

.form_vehiculo {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }