
<!-- Splash screen -->
<div class="splash-screen" *ngIf="bolShow">
  <img src="assets/icon/splashscreen.png" alt="splashLogo" id="imgSplash">
  <ng-lottie [options]='options'></ng-lottie>
</div>

<!-- resto de la pagina -->
 <ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Te llevo app</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <!-- Logo de la aplicacion + fondo decorativo -->
  <div>
    <img src="assets/icon/favicon.png" alt="AppLogo" id="appLogo">
    <img src="assets/img/FondoDuoc.png" alt="fondoDuoc" id="duocBackground">
  </div>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar Sesion</ion-card-title>
    </ion-card-header>

    <br>
    <ion-item>
      <ion-label><ion-icon name="person-circle-outline"></ion-icon></ion-label>
      <ion-input placeholder="Usuario" type="text" [(ngModel)]="user.usuario" minLength="3" maxLength="8" required> </ion-input>
      <span slot="error">Ingrese Un Usuario Valido</span>
    </ion-item>
      
    <ion-item>
      <ion-label><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
      <ion-input placeholder="Contraseña" type="password" required [(ngModel)]="user.password">  </ion-input>
      <span slot="error">Contraseña Invalida</span>
    </ion-item>

    <!-- Boton para el login -->
    <br>
    <ion-button  id="loginButton" class="button_margin" expand="block" (click)="InSesion()" >Ingresar</ion-button>
    <p style="text-align: center;"><a [routerLink]="['/recovpass']">¿Olvidaste tu contraseña?</a></p>
    <br>
  </ion-card>
 
  <img src="assets/icon/duocicon.png" alt="DuocIcon" id="duocIcon">
</ion-content>




