
<ion-header>
  <ion-toolbar>
    <ion-title>Te llevo app</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <img src="assets/icon/duocicon.png" alt="DuocIcon" id="duocIcon">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login visto en clases</ion-card-title>
    </ion-card-header>

    <br>
    <ion-item>
      <ion-label position="floating">usuario</ion-label>
      <ion-input  type="text" [(ngModel)]="dato" minLength="3" maxLength="8" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input  type="password" required>  </ion-input>
    </ion-item>

    <br>
    <ion-button id="loginButton" class="button_margin" expand="block" (click)="InSesion()" >Ingresar</ion-button>
  </ion-card>

  <ion-button [routerLink]="['/recovpass']">¿Olvidaste tu contraseña?</ion-button>

</ion-content>