<ion-header>
  <ion-toolbar>
    <img src="assets/icon/duocicon.png" alt="DuocIcon" id="duocIcon">
  </ion-toolbar>
</ion-header>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="conducir">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Conducir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscarViaje">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Buscar viaje</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

