ion-toolbar{
  --background: rgb(0, 46, 85);
}
/* Logo del duoc en el toolbar */
#duocIcon{
  max-width: 50%;
  display:block;
  margin:auto;
}

.Home_tittle{
  text-align: center;
  text-overflow: wrap;
  max-height: 13%;
}
.Home_tittle h1{
  font-weight: bold;
  font-size: 25px;
  max-height: 60px;
  overflow: hidden;
  margin-bottom: 4px;
}
.Home_tittle h2{
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: lighter;
}

.buttons_div{
  margin-top: 10%;
  overflow: auto;
}

.buttons_div img{
  height: auto;
  
}

#CarIcon{
  width: 50%;
  height: auto;
  margin-left: 5%;
}

#car_text{
  margin-left: 20%;
}

#search_div{
  width: 50%;
  float: right;
  margin-right: 5%;
}
#search_text{
  margin-left: 5%;
}

.buttons_div span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  //text-align: center;
}