ion-toolbar{
    --background: rgb(0, 46, 85);
  }
  /* Logo del duoc en el toolbar */
  #duocIcon{
    max-width: 50%;
    display:block;
    margin:auto;
  }

  .user_form {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .card_position{
    margin-top: 35%;
  }

  .row_margin{
    padding-top: 10%;
  }

  